// Main Styles for functioncreep.github.io

// Import Bulma's initial variables
@import "../bulma/sass/utilities/initial-variables";
@import "../bulma/sass/utilities/functions";
// XXX: It's important derived-variables is impported after functions
@import "../bulma/sass/utilities/derived-variables";

// ---------- re-theme colors go here... ---------- //

// Import Bulma
@import "../bulma/bulma";

$arrow-border: 1px solid black;

.greeting {
    margin-bottom: 1em;

    .subtitle {
        margin-bottom: 0.75em;
    }
}

.name {
    margin-bottom: 2em;

    .sub-2 {
        word-spacing: 0.5em;
    }
}

.arrow {
    margin-bottom: 1em;
}

.arrow-right {
    width: 3em;
    height: 0.75em;
    border: $arrow-border;
    border-right: 0;
    border-top: 0;
    float: left;
    margin-left: 1em;

    .arrow-right-head {
        width: 0.5em;
        height: 0.5em;
        border: $arrow-border;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg);
        position: relative;
        bottom: -0.5em;
        right: -2.5em;
    }
}

.arrow-right-text {
    margin-left: 1em;
    display: inline-block;
}

.arrow-down {
    width: 0;
    height: 2em;
    border: $arrow-border;
    border-right: 0;
    border-top: 0;
    margin-left: 1em;

    .arrow-down-head {
        width: 0.5em;
        height: 0.5em;
        border: $arrow-border;
        border-left: 0;
        border-top: 0;
        transform: rotate(45deg);
        position: relative;
        bottom: -1.5em;
        left: -0.25em;
    }
}

.arrow-down-text {
    margin-left: 0em;
    margin-top: 1em;
    display: inline-block;
}

a {
    color: $dark;

    &:hover {
        color: $blue;
    }
}